<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Backbone.js Blog Engine</title>
	<link rel="stylesheet" href="style.css" />
</head>

<body>
<div id="container">
    <h1>My Backbone Blog Engine</h1>
    <p class="caption">Check out the source code on <a href="https://github.com/lucperkins/backbone-blog">GitHub</a></p>

    <div id="posts">
        <form id="newPost">
            <p>
            <label for="title">Title:</label>
            <input id="title" />
            </p>
            <p>
            <label for="mood">Current Mood:</label>
            <input id="mood"/>
            </p>
            <p>
            <label for="content">Content:</label>
            <textarea id="content"></textarea>
            </p>
            <p>
            <label for="backgroundColor">Background Color:</label>
            <select id="backgroundColor">
                <option value="white">White</option>
                <option value="lavender">Lavender</option>
                <option value="teal">Teal</option>
                <option value="beige">Beige</option>
            </select>
            </p>
            <button class="saveButton">Save</button><br />
        </form>
    </div>

    <div id="postsContainer"></div>
</div>

<!-- <button id="saveAll" onClick="saveAllToDb()">Save all to disk</button> -->

<script type="text/template" id="editPostTemplate">
<form id="editPost">
	Title:<input id="editTitle" value="<%= title %>" /></input><br />
	Content:<textarea cols="50" rows="3" id="editContent" value="<%= content %>"/><br />
	<button id="editSave">Save</button>
</form>
</script>

<!-- This is the template for each post that is added to the blog -->

<script type="text/template" id="postTemplate">
<div class="post" style="background-color: <%= backgroundColor %>">
	<h3><%= title %></h3>
	<hr />
	<p class="boxed"><%= content %></p>
	<hr />
	<p id="mood" class="caption">My current mood is <strong><%= mood %></strong>.</p><div class="time"><%= time %></div><br />
	<button id="delete">Delete this post</button>
</div>
</script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.syphon/0.3.0/backbone.syphon.min.js"></script>
<script src="blog.js"></script>

</body>
</html>
