<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Backbone.js Blog Engine</title>
	<link rel="stylesheet" href="bootstrap.min.css" />
</head>

<body>

<h1>My Backbone Blog Engine</h1>
<br />

<div id="posts">
<table>
	<tr>
		<td id="left">
			<form id="newPost">
				Title:<br /><input id="title" name="title" /><br /><br />
				Content:<br /></label><textarea cols="200" rows="10" id="content" name="content"></textarea><br />
				Current mood:<br /><input id="mood" /><br /><br />
				Background color:<br />
								<select id="backgroundColor">
								    <option value="white">White</option>
								    <option value="#DDB7EF">Lavender</option>
									<option value="#7EF1EF">Cerulean</option>
									<option value="chartreuse">Chartreuse</option>
									<option value="beige">Beige</option>
								</select><br /><br />
				<input type="submit" value="Save" />
			</form>
			
			<br />

			<p class="caption">Remember: HTML tags are allowed!</p>
		</td>
		<td id="right">
			<div id="postsContainer"></div>
		</td>
	</tr>
</table>
</div>

<!-- <button id="saveAll" onClick="saveAllToDb()">Save all to disk</button> -->

<script type="text/template" id="editPostTemplate">
<form id="editPost">
	Title:<input id="editTitle" value="<%= title %>" /></input><br />
	Content:<textarea cols="50" rows="3" id="editContent" value="<%= content %>"/><br />
	<button id="editSave">Save</button>
</form>
</script>

<script type="text/template" id="postTemplate">
	<div class="post" style="background-color: <%= backgroundColor %>">
	<h3><%= title %></h3>
	<hr />
	<p class="boxed"><%= content %></p>
	<p id="mood" class="caption">My current mood is <strong><%= mood %></strong>.</p><div class="time"><%= time %></div><br />
	<button id="delete">Delete this post</button><button id="edit">Edit this post</button>
	</div>
	<hr />
</script>

<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
<script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
<script src="https://raw.github.com/jeromegn/Backbone.localStorage/master/backbone.localStorage.js"></script>
<script src="https://raw.github.com/derickbailey/backbone.syphon/master/lib/backbone.syphon.min.js"></script>
<!-- Finally, I call my own self-made .js file that will make my app run -->
<script src="blog.js"></script>
<!-- <script src="bootstrap.min.js"></script> -->

</body>
</html>