<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Backbone.js Blog Engine</title>
	<link rel="stylesheet" href="style.css" />
</head>

<body>

<h1>My Backbone Blog Engine</h1>
<br />

<div id="posts">
	<form id="newPost">
		Title:<br /><input id="title" size="60" /><br /><br />
		Content:<br /></label><textarea cols="60" rows="20" id="content"></textarea><br />
		Current mood:<br /><input id="mood" size="60" /><br /><br />
		Background color:<br />
		<select id="backgroundColor">
			<option value="white">White</option>
			<option value="beige">Beige</option>
			<option value="teal">Teal</option>
			<option value="#FE77E7">Magenta</option>
			<option value="#F6CAF5">Lavender</option>
		</select><br />
	<br />
		<button>Save</button>
	</form>
	
	<div id="postsContainer"></div>
</div>

<!-- <button id="saveAll" onClick="saveAllToDb()">Save all to disk</button> -->

<script type="text/template" id="editPostTemplate">
<form id="editPost">
	Title:<input id="editTitle" value="<%= title %>" /></input><br />
	Content:<textarea cols="50" rows="3" id="editContent" value="<%= content %>"/><br />
	<button id="editSave">Save</button>
</form>
</script>

<!-- This is the template for each post that is added to the blog -->

<script type="text/template" id="postTemplate">
<div class="post" style="background-color: <%= backgroundColor %>">
	<h3><%= title %></h3>
	<hr />
	<p class="boxed"><%= content %></p>
	<hr />
	<p id="mood" class="caption">My current mood is <strong><%= mood %></strong>.</p><div class="time"><%= time %></div><br />
	<button id="delete">Delete this post</button>
</div>
</script>

<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
<script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
<script src="https://raw.github.com/jeromegn/Backbone.localStorage/master/backbone.localStorage.js"></script>
<script src="https://raw.github.com/derickbailey/backbone.syphon/master/lib/backbone.syphon.min.js"></script>
<!-- Finally, I call my own self-made .js file that will make my app run -->
<script src="blog.js"></script>
<!-- <script src="bootstrap.min.js"></script> -->

</body>
</html>